<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" href="../../styles/badpage.css">
        <link rel="stylesheet" href="../../styles/common.css">


    </head>
    <body>
        <section id="main">
            <div th:text="${whyBad}">

            </div>

        </section>

        <footer>
	        <div class="footer">
	            Powered by indetity-management-service
	        </div>
	    </footer>
	    <script src="../../scripts/resetpass.js"></script>
    </body>
</html>