<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Reset Password</title>
        <link rel="stylesheet" href="../../styles/resetpass.css">
        <link rel="stylesheet" href="../../styles/common.css">
    </head> 
    <body>
        <section>
        	<p th:text="${uqid}" id="uqid" hidden>temp</p>
            <div class="total"> 
                <input class = "graphic inbox" id="pass" type="password" placeholder="New Password">
                <input class= "graphic inbox" id="confirmpass" type="password" placeholder="Re-Enter Password">
                <div id="warn">Both fields should match</div>
                <button class="graphic submit" id="submit">Update</button>
                <div id="done"> Password reset successful </div>
               	<div id="failed"> Password reset failed </div>
                
            </div>            
        </section>
        
	    <footer>
	        <div class="footer">
	            Powered by indetity-management-service
	        </div>
	    </footer>
	    <script src="../../scripts/resetpass.js"></script>
    </body>
</html>

